#error {
	background-color: #ffc0cb;
	padding: 5px;
	border: 1px solid black;
	color: white;
	
}
#validation {
	background-color: green;
	padding: 5px;
	color: white;
	
}
body{
	font-family: 'Oswald', sans-serif;
  max-width: 1024px;
  margin: auto;
  padding: 10px;
  text-align:center;
  background-color: #00796B;
}
table {
	table-layout: auto;
  border: 0px solid black;
  border-collapse: collapse;
  display:inline-block;
  text-align:left;
}
table td{
	border-bottom:1px solid #009688;
	padding:10px;
}
table tr:hover{
	background-color: #757575;
	text
}
tr:nth-child(even){
	background-color:BDBDBD;
}
#main-div{
	background: #FFFFFF;
	display: inline-block;
	padding:20px;
	width: 60%;
	border-radius:25px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	margin: auto;
}
#photo-cv {
	display: block;
	border-radius: 50%;
	width:100px;
	height:150px;
	margin-left: auto;
	margin-right: auto;
	border-color: red;
}

img {
	display: block;
	border-radius: 50%;
	width:80px;
	height:80px;
	  transition: transform .2s;
}
img:hover{
	/*width:90px;
	height:90px;*/
	transform: scale(1.5);
}
h2,h3{
	margin:0px;
	padding:0px;
}
a:hover{
	color:#009688;
}
a:visited{
	color:#607D8B
}
a{
	color:black;
}
@media only screen and (max-width: 400px) {
    body {
        background-color: lightblue;
    }
}
ul{
	text-align:left;
}
ol{
	text-align:left;
}
p {
	text-align: justify;
	text-justify: inter-word;
}

